#app4{}
/* 渐变 */
@keyframes change{
    0%{
        background: red;
    }
    100%{
        background: blue;
    }
}
#app4 .circle{
    width:20vw;
    height:20vw;
    border-radius:50%;
    border:1px solid red;
    margin: 25%;
    /* 加入动画 */
    
}
#app4 .circle.active{
    animation:change 1s infinite alternate linear;
}